<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cash.mapper.LoginMapper">
	<select id="selectMemberId" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		FROM member
		<where>
			memberId = #{memberId}
			AND memberPw = #{memberPw};
		</where>
	</select>
</mapper>